{% extends 'base.html' %}

{% block content %}
<h2>Book Overview</h2>
<!-- Button to open the modal -->
<button id="addModalButton" data-url="{% url 'owned_books' %}">Add Book</button>

<!-- The Modal -->
<div id="openModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Add a New Book</h2>
        <form id="modalForm" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Save Book</button>
        </form>
        <div id="formMessages"></div>
    </div>
</div>
<form action="{% url 'search_book' %}">
    <button type="submit" class="nav-link text-light" 
            style="background:none; border:none; padding:0; color:inherit; font:inherit; cursor:pointer; outline:none; margin-right: 30px;">
        <i class="fas fa-chart-line"></i> Search Books
    </button>
</form>

{% if books %}
    <ul>
        {% for book in books %}
            <li>
                <strong>{{ book.title }}</strong> by {{ book.author }}
                <br>
                    {% if book.cover_image_link %}
                    <img src="https://covers.openlibrary.org/b/id/{{ book.cover_image_link }}-L.jpg" alt="Cover image of {{ book.title }}" width="200">
                    {% elif book.cover_image %}
                    <img src="{{ book.cover_image.url }}" alt="Cover image of {{ book.title }}" width="200">
                    {% else %}
                        <p>No cover image available.</p>
                    {% endif %}
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>You don't own any books yet.</p>
{% endif %}

{% endblock %}
