{% extends 'base.html' %}

{% block content %}
<h2>Book Overview</h2>
<!-- Button to open the modal -->
<button id="addBookButton">Add Book</button>

<!-- The Modal -->
<div id="addBookModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Add a New Book</h2>
        <form id="addBookForm" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Save Book</button>
        </form>
        <div id="formMessages"></div>
    </div>
</div>

{% if books %}
    <ul>
        {% for book in books %}
            <li>
                <strong>{{ book.isbn.title }}</strong> by {{ book.isbn.author }}
                <br>
                    {% if book.isbn.cover_image %}
                    <img src="{{ book.isbn.cover_image.url }}" alt="Cover image of {{ book.isbn.title }}" width="200">
                    {% else %}
                        <p>No cover image available.</p>
                    {% endif %}
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>You don't own any books yet.</p>
{% endif %}

{% endblock %}
