{% extends 'base.html' %}
{% block content %}
<h2>Search Books</h2>
<form method="get">
    <input type="text" name="q" placeholder="Search by title or author">
    <button type="submit">Search</button>
</form>

{% for book in results %}
    <div>
        <h3>{{ book.title }}</h3>
        {% if book.cover_i %}
            <img src="https://covers.openlibrary.org/b/id/{{ book.cover_i }}-L.jpg" alt="Book cover">
        {% endif %}
        <p>{{ book.author_name|join:", " }} published in {{book.first_publish_year}}</p>
        <p>{{ book.isbn }}</p>

        <!-- Add to owned books button -->
        <form action="" method="post">
            {% csrf_token %}
            <input type="hidden" name="title" value="{{ book.title }}">
            <input type="hidden" name="author_name" value="{{ book.author_name|join:', ' }}">
            <input type="hidden" name="first_publish_year" value="{{ book.first_publish_year }}">
            <input type="hidden" name="isbn" value="{{ book.isbn }}">
            <input type="hidden" name="cover_image_link" value="{{ book.cover_i }}">
            <button type="submit">Add to My Books</button>
        </form>
    </div>
{% endfor %}
{% endblock %}
